* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: oklch(15.434% 0.00002 271.152);
}

header {
	width: 100%;
	height: 100px;
	font-size: 20px;
	background-color: rgb(20, 59, 19);
	color: white;
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

header h1 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

.header-buttons {
	display: flex;
	gap: 8px;
}

.home-button img {
	width: 75px;
	height: 75px;
}