* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: oklch(15.434% 0.00002 271.152);
	padding-bottom: 100px;
}

header {
	width: 100%;
	height: 100px;
	font-size: 20px;
	background-color: rgb(20, 59, 19);
	color: white;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	margin-bottom: 20px;
}

header h1 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

.header-buttons {
	display: flex;
	gap: 8px;
}

.header-button img {
	width: 75px;
	height: 75px;
}

.paragraph {
	color: rgb(184, 184, 184);
	align-self: center;
	font-size: 18px;
	width: 50%;
	max-width: 900px;
	text-indent: 2em;
	margin: 10px;
	line-height: 30px;
}

.math-text {
	color: rgb(255, 255, 255);
	align-self: center;
	font-size: 18px;
	width: 50%;
	max-width: 900px;
	text-indent: 2em;
	margin: 10px;
	line-height: 30px;
}

.hyperlink {
	color: white;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	align-self: flex-start;
	display: inline;
	text-decoration: underline;
}