* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover p {
	color: black;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 150vh;
	background-color: oklch(100% 0.00011 271.152);
}

.header {
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	font-size: 50px;
	background-color: rgb(31, 31, 31);
	color: white;
	display: flex;
	align-items: flex-start;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header h1 {
	text-align: center;
	flex: 1;
	font-size: 50px;
}

.home-button {
	position: absolute;
  left: 0px;
	margin: 20px;
}

.home-button img {
	object-fit: cover;
	width: 100%;
	height: 60px;
  display: block;
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	gap: 20px;
	width: 85%;
	margin: 100px;
}

.project-link {
	overflow: hidden;
	transition: transform 0.3s ease;
	background-color: #dbdbdb;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4px;
	border-style: solid;
	border-color: rgb(105, 105, 105);
}

.project-link:hover {
	transform: scale(1.05);
	border-color: black;
	background-color: rgb(235, 235, 235);
	filter: brightness(1.1);
	filter: drop-shadow(0px 0px 5px black);
}

.project-link img {
	object-fit: cover;
	width: 100%;
	height: 200px;
	transition: opacity 0.3s ease;
	display: block;
}

.project-link p {
	color: rgb(105, 105, 105);
	padding: 10px;
	font-size: 20px;
}