.project-title {
	color: rgb(255, 255, 255);
	text-align: center;
	align-self: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 30px;
}

.explanation-disclaimer {
	color: rgb(126, 126, 126);
	align-self: center;
	text-align: center;
	margin-bottom: 50px;
	max-width: 900px;
}

.code-snippet {
	font-family: monospace;
	color: white;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(56, 56, 56);
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.three-columns {
	display: grid;
	width: 100%;
	grid-template-columns: 25% 1fr 25%;
	justify-items: center;
}

.project-image {
	overflow: hidden;
	background-color: #252525;
	padding: 4px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	margin: 15px;
}

.project-image img {
	object-fit: cover;
	width: 100%;
	height: 200px;
}

.project-image p {
	color: rgb(255, 255, 255);
	padding: 10px;
	font-size: 20px;
}