.project-title {
	color: rgb(255, 255, 255);
	display: flex;
	align-self: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 30px;
}

.explanation-disclaimer {
	color: rgb(126, 126, 126);
	align-self: center;
	text-align: center;
	margin-bottom: 50px;
	width: 50%;
	max-width: 900px;
}

.code-snippet {
	font-family: monospace;
	color: white;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(56, 56, 56);
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
}